@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    local("PT Sans"), 
    local("PTSans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    local("PT Sans Bold"), 
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0,0,0,0.8);
  font-style: normal;
  background: rgb(0,200,255,0.9) url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

/* Cпеціальні глобальні стилі "visually-hidden" для доступного приховування елементів */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  min-width: 320px;
  
  background-color: rgba(0,82,150,1.0);
}

.site-header__logo {
  display: block;
  margin: 0 auto;
}

.site-header__logo-image {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
  height: 129px;
}

.main-nav {
  position: relative;
  
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  /* Мінімальна висота блока навігації розгорнутого меню, оскільки його контент перебуває поза потоком */
  min-height: 51px;
  
  background-color: rgba(130,210,255,1.0);
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: rgba(0,100,200,1.0);
  cursor: pointer;
  border: none;
}

.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: rgba(0,82,150,1.0);
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стилі тільки для екранів менше 767px */
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  
  .main-nav--closed .user-list__item {
    display: none;
  }
  
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 70px;
    right: 0;
    
    z-index: 10;
    min-height: 70vh;
    background-color: rgba(0,100,200,1.0);
  }
  
  /* стилі декоративної тіні  */
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  
  /* Стилі активного пункта відкритого меню */
  .main-nav--opened .site-list__item--active a {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(50,150,255,0.6);
  }
  
  /* При вимкнених скриптах кнопка розкривання меню не відображується */
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  
  /* Повертаю блоку навігації первинне положення і вид */
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  
  .main-nav--nojs .site-list__item {
    display: block;
  }
  
  .main-nav--nojs .site-list__item--active a {
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: left;
  }
  
  .main-nav--nojs .user-list__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    max-width: 100%;
    margin: 0;
  }
  
  .main-nav__toggle {
    display: none;
  }
  
  /* Обгортка списків меню сайту для планшетного варіанту матиме властивості флекс-контейнера */
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}

.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 12px 20px;
  padding-bottom: 13px;
  
  font-size: 18px;
  line-height: 24px;
  
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  
  background-color: rgba(50,150,255,1.0);
  border-top: 1px solid rgb(080,180,220);
  border-bottom: 1px solid rgb(0,100,200);
}

.site-list a[href]:hover {
  background-color: rgba(0,100,200,1.0);
  border-top-color: rgba(0,100,150,1.0);
}

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(50,100,150,1.0);
  border-top-color: rgba(50,100,150,1.0);
}

@media (min-width: 768px) {
  .site-list {
    width: 570px;
  }
}

.user-list {
  font-weight: bold;
}

.user-list a {
  position: relative;
  
  display: block;
  padding: 12px 20px;
  padding-left: 50px;
  
  font-size: 18px;
  line-height: 24px;
  
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  
  background-color: rgba(0,110,210,1.0);
}

.user-list a:hover {
  color: rgba(255,255,255,0.5);
  
  background-color: rgba(0,125,200,1.0);
}

.user-list a:active {
  color: rgba(255,255,255,0.2);
  
  background-color: rgba(0,125,200,1.0);
}

.user-list__login-icon {
  position: absolute;
  top: 16px;
  left: 20px;
  
  width: 16px;
  height: 16px;
  
  opacity: 0.5;
}

.user-list__login-icon polygon {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
