@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    local("PT Sans"), 
    local("PTSans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    local("PT Sans Bold"), 
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0,0,0,0.8);
  font-style: normal;
  background: rgb(0,200,255,0.9) url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

/* Cпеціальні глобальні стилі "visually-hidden" для доступного приховування елементів */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  min-width: 320px;
  
  background-color: rgba(0,82,150,1.0);
}

.site-header__logo {
  display: block;
  margin: 0 auto;
}

.site-header__logo-image {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
  height: 129px;
}

.main-nav {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  min-height: 51px;
  
  background-color: rgba(130,210,255,1.0);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}