body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0,0,0,0.8);
  font-style: normal;
  background: rgb(0,200,255,0.9) url("../img/body-bg.jpg") no-repeat center top;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  min-width: 320px;
  
  background-color: rgba(0,82,150,1.0);
}

.site-header__logo {
  display: block;
  margin: 0 auto;
}